@page "/party/{Id:int}"

@using PartyManager.WebUI.Data
@using PartyManager.Application.Main.Parties.Queries.Models
@inject PartyAdminService PartyAdminService

@if (party == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Party: @party.Name</h1>

    <hr />

    <div class="display-field-container">
        <div class="display-field">
            <PartyName Id="@party.Id" Name="@party.Name" OnChange="@RefreshParty" />
        </div>
        <div class="display-field">
            <PartyLocation Id="@party.Id" Location="@party.Location" OnChange="@RefreshParty" />
        </div>
        <div class="display-field">
            <PartyDate Id="@party.Id" StartTime="@party.StartTime" OnChange="@RefreshParty" />
        </div>
    </div>

    <hr />

    <CascadingValue Value="@Id" Name="PartyId">
        <PartyGuestList PartyGuests="@party.PartyGuests" OnChange="@RefreshParty" />
    </CascadingValue>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private PartyDto party;

    protected override async Task OnParametersSetAsync()
    {
        await RefreshParty();
    }

    private async Task RefreshParty()
    {
        party = await PartyAdminService.GetParty(Id);
    }
}